﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />



    @* first jquery then jqgrid *@
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/MyCrud.js"></script>


</head>
<body>
    <div class="navbar navbar-dark bg-dark navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
                
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
              

                        @Html.ActionLink("GetUsers", "GetUsers", "User", null, new { @class = "action-link-margin" })


                   
                @if (User.Identity.IsAuthenticated)
                {
                    <span style="color:white">Welcome @User.Identity.Name</span>
                    @Html.ActionLink("LogOut", "Logout", "Login")

                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


</body>
</html>